{% extends "main.html" %}
{% block spec_heads_js %}

    <!-- sha1 script -->
    <script src="{{ url_for('static', filename='js/sha1.js') }}"></script>

{% endblock %}
{% block content %}
    {% if warning %}
        <div><span>{{ warning }}</span></div>
    {% endif %}

    <form action="/login" method="post">
        <div><label for="login">Login</label><input id="login" type="text" name="login" /></div>
        <div>
            <label for="password_visible">Password</label>
            <input id="password_visible" type="password" name="password_visible" required />
            <input id="password" type="hidden" name="password" required /></div>
        <div><input type="submit" value="Login" /></div>
    </form>

    <script>
        function onSubmit(){
            $('#password').val($.sha1($('#password_visible').val()));
            return true;
        }
        $(document).ready( function() {
            $("form").submit(onSubmit);
        });
    </script>

{% endblock %}
