{% extends "main.html" %}
{% block spec_heads_js %}

    <!-- sha1 script -->
    <script src="{{ url_for('static', filename='js/sha1.js') }}"></script>

{% endblock %}
{% block content %}

<div class="top-away">
    {% if warning %}
        <div><span>{{ warning }}</span></div>
    {% endif %}

    <form action="/login" method="post" class="form-horizontal" role="form" >
        <div class="form-group">
            <label for="login" class="col-sm-1">Login</label>
            <div class="col-sm-3">
                <input id="login" type="text" class="form-control" name="login" />
            </div>
        </div>
        <div class="form-group">
            <label for="password_visible" class="col-sm-1">Password</label>
            <div class="col-sm-3">
                <input id="password_visible" type="password" name="password_visible" class="form-control" required />
            </div>
            <input id="password" type="hidden" name="password" required /></div>
        <div class="form-group">
            <div class="col-sm-1">
                <input class="btn btn-default" type="submit" value="Login" />
            </div>
        </div>
    </form>

    <script>
        function onSubmit(){
            $('#password').val($.sha1($('#password_visible').val()));
            return true;
        }
        $(document).ready( function() {
            $("form").submit(onSubmit);
        });
    </script>
</div>

{% endblock %}
