<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- 2.11 version of jquery on googleapis -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- sha1 script -->
    <script src="http://www.astronomy.ie/print/www.independent.ie/independent.ie/javascript/jquery.sha1.js%3Fv=3"></script>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>pacu - {{ title }}</title>
  </head>
  <body>
    <div><a href="/index/0">Home</a>&nbsp;
    {% if not session.username %}
        <a href="/login">Login</a></div>
    {% else %}
        <a href="/logout">Logout {{ session.username }}</a>
    {% endif %}
    </div>
    {% if session.username %}
        <div>Miniblog: <a href="/add_post">Add post</a></div>
    {% endif %}
    {% block content %}{% endblock %}
  </body>
</html>
